@use '../layout-scheme/font-scheme.scss';
@use '../layout-scheme/color-scheme.scss';
// @use '../layout-scheme/container-scheme';
@use '../layout-scheme/row-scheme';
// @use '../layout-scheme/col-scheme';
// @use '../layout-scheme/section-scheme';
//@use '../layout-scheme/box-shadow-scheme';
//@use '../layout-scheme/border-radius-scheme';
@use '../layout-scheme/margin-scheme';
// @use '../layout-scheme/padding-scheme';
// @use '../layout-scheme/media-scheme';
// @use '../layout-scheme/html-scheme';
// @use '../layout-scheme/body-scheme';
// @use "sass:meta";

.sitemap-row {
    @include row-scheme.row();
    
    & .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: left!important;
    }

    /* Sitemap Text */
    & p {
        @include margin-scheme.margin(15px, 0, 15px, 0);
        color: #{color-scheme.$color-3};
        font-size: #{font-scheme.$text-1};
    }
  
    & i {
        color: #{color-scheme.$color-2};
        font-size: #{font-scheme.$text-3};
    }
}