@use '../layout-scheme/font-scheme.scss';
@use '../layout-scheme/color-scheme.scss';
// @use '../layout-scheme/container-scheme';
@use '../layout-scheme/row-scheme';
// @use '../layout-scheme/col-scheme';
// @use '../layout-scheme/section-scheme';
@use '../layout-scheme/box-shadow-scheme';
@use '../layout-scheme/border-radius-scheme';
@use '../layout-scheme/margin-scheme';
// @use '../layout-scheme/padding-scheme';
@use '../layout-scheme/media-scheme';
// @use '../layout-scheme/html-scheme';
// @use '../layout-scheme/body-scheme';
// @use "sass:meta";

.header-row {
    background: #{color-scheme.$color-9};
    height: 40px;
    @include border-radius-scheme.border-radius(0px, 0px, 15px, 15px);
    @include box-shadow-scheme.box-shadown();
    @include row-scheme.row();

    @media (min-width: media-scheme.$md) {
        & {
            display: none;
        }
    }

    & .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: -ms-inline-flexbox!important;
        display: inline-flex!important;
        -ms-flex-align: center!important;
        align-items: center!important;
        @include margin-scheme.margin(0, 0, null, 0);
    }
    
    /* Header Icon */
    & i {
        color: #{color-scheme.$color-5};
    }

    /* Title */
    & p {
        @include margin-scheme.margin(0, 0, 0, 0);
        color: #{color-scheme.$color-5};
        text-transform: uppercase;
        font-size: #{font-scheme.$text-1};
        font-weight: #{font-scheme.$font-weight-6};
        width: 190px;
        text-align: center;
    }
    
    & .flex-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }

    & .m-auto {
        margin: auto!important;
    }
}


