// Import Colors
// Import Fonts
// Import Row
// Import Column
//import box-shadown

@import '../styles.scss';

.header-row {
    background: #{$color-9};
    height: 40px;
    @include border-radius(0px, 0px, 15px, 15px);
    @include box-shadown();
    @include row();

    @media (min-width: 800px) {
        & {
            display: none;
        }
    }

    & .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        display: -ms-inline-flexbox!important;
        display: inline-flex!important;
        -ms-flex-align: center!important;
        align-items: center!important;
        @include margin(0, 0, null, 0);
    }
    
    /* Header Icon */
    & i {
        color: #{$color-5};
    }

    /* Title */
    & p {
        @include margin(0, 0, 0, 0);
        color: #{$color-5};
        text-transform: uppercase;
        font-size: #{$header-text};
        font-weight: #{$font-weight-6};
        width: 190px;
        text-align: center;
    }
    
    & .flex-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important;
    }

    & .m-auto {
        margin: auto!important;
    }
}


