
body {
    margin: 0;
    font-family: #{meta.inspect(font-scheme.$monospace)};
    font-size: #{font-scheme.$default-font-size};
    font-weight: #{font-scheme.$font-weight-4};
    line-height: #{font-scheme.$line-height};
    color: #{color-scheme.$color-1};
    text-align: left;
    background-color: #{color-scheme.$color-2};
}
