@mixin border-radius ($top-left:10px, $top-right:10px, $bottom-left:10px, $bottom-right:10px) {
    border-top-left-radius: #{$top-left};
    border-top-right-radius: #{$top-right};
    border-bottom-right-radius: #{$bottom-right};
    border-bottom-left-radius: #{$bottom-left};
}