$lead-color: #212529;
$dark-gray: #55606e;
$gray: #6c757d;
$box-shadow-light-gray: #b7b7b7;
$light-gray: #ebeff2;
$light-gray-90: #f2f2f2;
$white: #ffffff;
$dark-blue: #0179c6;
$blue: #00abe8;
$ocean-blue: #0aa699;
$green: #28a745;
$red: #ff0000;
$purple: #884e9d;

$color-1: #212529;
$color-2: #55606e;
$color-3: #6c757d;
$color-4: #b7b7b7;
$color-6: #ebeff2;
$color-7: #f2f2f2;
$color-5: #ffffff;
$color-8: #0179c6;
$color-9: #00abe8;
$color-10: #0aa699;
$color-11: #28a745;
$color-12: #ff0000;
$color-13: #884e9d;